<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

  <!-- Добавление стилей CSS через тег style. Таблицы с классом model_table будут иметь уникальный стиль -->
  <!-- и будут использоваться только на текущей странице. В этом случае оправдано использование тега style -->
  <style type="text/css">
    .model_table {
      margin: 50px;      
      width: 80%;
    }
    .model_table tr:nth-child(even) {
      background-color: #fffee9;
    }
    .model_table tr:hover {
      background-color: #e7f7ff;
    }
  </style>


<div class="container-fluid pb-3">
  <div class="d-grid gap-3" style="grid-template-columns: 1fr;">
    <div class="bg-light border rounded-3">

      <table class="model_table"> 
        <tr>
          <th colspan="2"><h3>Список аквахабов</h3></th>
        </tr>
        <!--Loop over the `payload` variable, which is the list of articles-->
        {{range .payload }}
          <!--Display the content of the article-->
          <tr>
            <td>
              <a href="/hw/devices/{{.Id}}"> <h4>{{.Title}}</h4> </a>      
            </td>
            <td>{{.Description}}</td>
          </tr>
        {{end}}
      </table>

    </div>
  </div>
</div>  
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}