<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}



  <!--Loop over the `payload` variable, which is the list of articles-->
  {{range .payload }}

    <div class="container-fluid pb-3">
      <div class="d-grid gap-3" style="grid-template-columns: 1fr;">
        <div class="bg-light border rounded-3 pg20">

          <a href="/article/view/{{.Id}}">
            <h4>{{.Title}}</h4>
          </a>
          <br>
          <p>{{.Description}}</p>
          <br>
          
        </div>
      </div>
    </div>

  {{end}}

  


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}